.posts-widgets
  .container-fluid
    .row.widgets
      .col-md-4.col-sm-12.left
        .row.post-widget-wrapper
          .col-md-5.col-sm-5
            = lazy_image_tag asset_url('build_logo.jpg')
          .col-md-7.col-sm-7
            .post-summary
              %h2.post-title
                %span Разработка логотипа
              %p от 6 000 рублей
        - if user_signed_in?
          .row.post-widget-wrapper
            .col-md-5.col-sm-5
              = lazy_image_tag asset_url('build_vk.jpg')
            .col-md-7.col-sm-7
              .post-summary
                %h2.post-title
                  %span Оформление групп ВК
                %p от 5 000 рублей
        .row.post-widget-wrapper
          .col-md-5.col-sm-5
            = lazy_image_tag asset_url('build_vizitka.jpg')
          .col-md-7.col-sm-7
            .post-summary
              %h2.post-title
                %span Разработка дизайна визиток
              %p от 10 000 рублей
      .col-md-4.col-sm-12.right
        .row.post-widget-wrapper
          .col-md-5.col-sm-5
            = lazy_image_tag asset_url('build_style.jpg')
          .col-md-7.col-sm-7
            .post-summary
              %h2.post-title
                %span Фирменный стиль (Бизнес)
              %p от 18 000 рублей
        .row.post-widget-wrapper
          .col-md-5.col-sm-5
            = lazy_image_tag asset_url('build_style_small.jpg')
          .col-md-7.col-sm-7
            .post-summary
              %h2.post-title
                %span Малый фирменный стиль
              %p от 12 000 рублей
        .row.post-widget-wrapper
          .col-md-5.col-sm-5
            = lazy_image_tag asset_url('build_site_vizitka.jpg')
          .col-md-7.col-sm-7
            .post-summary
              %h2.post-title
                %span Сайт-визитка
              %p от 12 000 руб
      .col-md-4.col-sm-12.right
        .row.post-widget-wrapper
          .col-md-5.col-sm-5
            = lazy_image_tag asset_url('build_site_landing.jpg')
          .col-md-7.col-sm-7
            .post-summary
              %h2.post-title
                %span Лэндинг
              %p от 21 000 руб
        .row.post-widget-wrapper
          .col-md-5.col-sm-5
            = lazy_image_tag asset_url('build_site_catalog.jpg')
          .col-md-7.col-sm-7
            .post-summary
              %h2.post-title
                %span Сайт-каталог
              %p от 36 000 руб
        .row.post-widget-wrapper
          .col-md-5.col-sm-5
            = lazy_image_tag asset_url('build_site_portal.jpg')
          .col-md-7.col-sm-7
            .post-summary
              %h2.post-title
                %span Портал/сервис
              %p от 45 000 руб

      .clearfix
