.row.entry-content
  .col-md-8.col-md-offset-2
    %dl.dl-horizontal
      %dt instagram
      %dd= social_link(:instagram)
      %dt vkontakte
      %dd= social_link(:vk)
      %dt facebook
      %dd= social_link(:facebook)
      %dt twitter
      %dd= social_link(:twitter)
      %dt behance
      %dd= social_link(:behance)
      %dt telegram
      %dd= social_link(:telegram)
