.row.entry-content
  .col-md-6.col-md-push-3.single-content
    %p.text-justify
      Разработка айдентики для велоклуба и кафе Крути.
      Пространство Крути - это место, которое объединяет людей влюблённых в велокультуру, для которых ощущения занимают приоритетные места, кто не может без спорта и ведёт активный образ жизни.
      Слоган "Крути и мир закрутится вокруг тебя!".

.row.featured-image
  .col-md-12
    = image_tag '/portfolio/art_kruti/01.jpg', class: 'img-responsive'

.row.entry-content
  .col-md-6.col-md-push-3.single-content
    %p.text-justify
      Движение и скорость основа любого спорта и именно оно передаётся за счёт графических элементов, которые появились исходя из кадров, сделанных на длинной выдержке, где фонарики и катафоты оставляют за собой световой след.

.row.featured-image
  .col-md-12
    = image_tag '/portfolio/art_kruti/02.jpg', class: 'img-responsive'
  .col-md-12
    = image_tag '/portfolio/art_kruti/03.jpg', class: 'img-responsive'

.row.entry-content
  .col-md-6.col-md-push-3.single-content
    %p.text-justify
      За счёт этих же элементов сложился паттерн.

.row.featured-image
  .col-md-12
    = image_tag '/portfolio/art_kruti/04.jpg', class: 'img-responsive'

.row.entry-content
  .col-md-6.col-md-push-3.single-content
    %p.text-justify
      Жёлтый является символичным цветом в спортивном мире т.к. майка лидера именно этого цвета. Также именно он ассоциируется с осветительными приборами и даёт эффект свечения на ахроматических цветах, которые я также использовала в качестве подложки.
      P.S. а ещё один велосипедист, сказал, что во время велозаездов они активно питаются бананами :)

.row.featured-image
  .col-md-12
    = image_tag '/portfolio/art_kruti/05.jpg', class: 'img-responsive'

.row.entry-content
  .col-md-6.col-md-push-3.single-content
    %p.text-justify
      Выбраны два шрифта. Futura - подходит по пластике, за счёт круглых овалов, в которые вписываются графические элементы. Din - по истории шрифта известно, что использовался для указателей на шоссе, что отвечает теме.

.row.featured-image
  .col-md-12
    = image_tag '/portfolio/art_kruti/06.jpg', class: 'img-responsive'

.row.entry-content
  .col-md-6.col-md-push-3.single-content
    %p.text-justify
      Графическое оформление плакатов велоклуба.
      Центральный, говорящий о существовании пространства и крайние для оповещения проводимых мероприятий.

.row.featured-image
  .col-md-12
    = image_tag '/portfolio/art_kruti/07.jpg', class: 'img-responsive'

.row.entry-content
  .col-md-6.col-md-push-3.single-content
    %p.text-justify
      Далее представлены брендированные принадлежности для кафе.

.row.featured-image
  .col-md-12
    = image_tag '/portfolio/art_kruti/08.jpg', class: 'img-responsive'
  .col-md-12
    = image_tag '/portfolio/art_kruti/09.jpg', class: 'img-responsive'
  .col-md-12
    = image_tag '/portfolio/art_kruti/10.jpg', class: 'img-responsive'
  .col-md-12
    = image_tag '/portfolio/art_kruti/11.jpg', class: 'img-responsive'

.row.entry-content
  .col-md-6.col-md-push-3.single-content
    %p.text-justify
      Особенностью меню является то, что названия блюд и напитков основаны на тематике веложизни.

.row.featured-image
  .col-md-12
    = image_tag '/portfolio/art_kruti/12.jpg', class: 'img-responsive'

.row.entry-content
  .col-md-6.col-md-push-3.single-content
    %p.text-justify
      Для любого клуба важно отличаться от участников других клубов, особенно, когда дело касается соревнований, в связи с чем была разработана велоформа.

.row.featured-image
  .col-md-12
    = image_tag '/portfolio/art_kruti/13.jpg', class: 'img-responsive'

.row.entry-content
  .col-md-6.col-md-push-3.single-content
    %p.text-justify
      Питьевая спортивная бутолочка - основной мерч велоклуба, т.к. именно она является неотъемлемой атрибутикой каждого велосипедиста.

.row.featured-image
  .col-md-12
    = image_tag '/portfolio/art_kruti/14.jpg', class: 'img-responsive'

.row.entry-content
  .col-md-6.col-md-push-3.single-content
    %p.text-justify
      Важным фактом, было показать, что в клуб приходят совершенно разные люди, каждый крутит педали ради своих ощущений. Одни - воодушевлены самим процессом, другие же - тренируют свою силу воли. Так был разработан второй мерч - футболки.

.row.featured-image
  .col-md-12
    = image_tag '/portfolio/art_kruti/15.jpg', class: 'img-responsive'
  .col-md-12
    = image_tag '/portfolio/art_kruti/16.jpg', class: 'img-responsive'
  .col-md-12
    = image_tag '/portfolio/art_kruti/17.jpg', class: 'img-responsive'
  .col-md-12
    = image_tag '/portfolio/art_kruti/18.jpg', class: 'img-responsive'
  .col-md-12
    = image_tag '/portfolio/art_kruti/19.jpg', class: 'img-responsive'
  .col-md-12
    = image_tag '/portfolio/art_kruti/20.jpg', class: 'img-responsive'
  .col-md-12
    = image_tag '/portfolio/art_kruti/21.jpg', class: 'img-responsive'

.row.entry-content
  .col-md-6.col-md-push-3.single-content
    %p.text-justify
      Объединяет их одно:

.row.featured-image
  .col-md-12
    = image_tag '/portfolio/art_kruti/22.jpg', class: 'img-responsive'

.row.entry-content
  .col-md-6.col-md-push-3.single-content
    %p.text-center
      Спасибо за внимание!
