- set_meta_tags title: @project.title

%article.single-post
  .container-fluid
    .row.meta
      .col-md-12
        - if can? :edit, @project
          %ul.list-inline.meta.text-center
            %li
              = link_to t('actions.edit'), edit_project_path(@project)
            %li
              = link_to t('actions.del'), @project, method: :delete, data: { confirm: t('actions.sure') }

        %h1.text-center.single-title
          = @project.title
        - unless @project.authors.empty?
          %ul.list-inline.meta.text-center
            - @project.authors.each do |author|
              %li
                = t "projects.author_#{author}"
  .container-fluid#containers{ data: { update_url: sort_containers_url } }
    = render @containers

    - if user_signed_in?
      #container_block
      .col-xs-12.text-center
        .btn-group(role='group' aria-label='...')
          - %i[text blockquote image].each do |type|
            = link_to new_project_container_path(@project, type: type), remote: true, class: 'btn btn-lg btn-primary' do
              - icon_name = case type
              - when :text
                - 'font'
              - when :blockquote
                - 'quote-right'
              - when :image
                - 'image'

              %span.fa{ class: "fa-#{icon_name}" }
              = t "containers.types.#{type}"

      #container_form

