%header.site-header.logo-centered
  %nav.navbar.navbar-default.primary-navigation
    .container-fluid
      .navbar-header
        = link_to root_path, class: 'navbar-brand navbar-link' do
          = image_tag asset_url('logo.png')
        %button.navbar-toggle.collapsed{ data: { target: '#navbar-wrapper', toggle: 'collapse' } }
          %span.sr-only Toggle navigation
          %span.first-icon-bar.icon-bar
          %span.icon-bar
          %span.last-icon-bar.icon-bar
      #navbar-wrapper.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            - if user_signed_in?
              %a.dropdown-toggle{ "aria-expanded" => "false", "data-toggle" => "dropdown", href: '#' }
                = t 'shared.admin'
                %span.caret
              %ul.dropdown-menu{ role: 'menu' }
                %li= link_to 'admins', users_path
                %li= link_to t('clients.title'), clients_path
                %li= link_to t('note.title'), list_notes_path
                %li= link_to t('shared.signout'), destroy_user_session_path, method: :delete

          %li{ role: 'presentation'}
            = link_to t('projects.works'), projects_path
          %li{ role: 'presentation'}
            = link_to t('shared.about_us'), about_path
          %li{ role: 'presentation'}
            = link_to t('contacts.title'), notes_path

  - if flash[:notice] || flash[:error] || flash[:alert]
    #flash.fadeInDown.animated
      .alert.alert-info
        = notice
        = alert
